.header {
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: lightskyblue ;
  color: 'white'
}

.header::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: 'white'
}

.header * {
  position: relative;
  z-index: 2;
}

.header h1, .header h2, .header p {
  color: white;
}

.header h1 {
  font-size: 49px;
  padding-top: 10px;
  justify-content: space-between;
}
